# $Id: extnwtst.rules,v 1.33 2010-06-07 10:16:37 root Exp $

# ACCEPT|[N]REJECT|[N]DROP = \
#	<in-interface>	; <source-addr>	; <dest-addr>		; <protocol>	; <dest-port>

# subnet, external access only
[DEFINE]
  MENWT85 = \
\	# QA MAC addresses:
	00:22:48:24:c4:f6, \ # QA Xbox 360 Testkit 160
	00:17:fa:ba:a2:34, \ # QA Xbox 360 Testkit 107
	00:17:fa:b9:33:9a, \ # QA Xbox 360 Testkit 108
	00:17:fa:b2:2f:a8, \ # QA Xbox 360 Testkit 077
	00:22:48:24:7e:66, \ # QA Xbox 360 Testkit 197
	00:22:48:a5:33:de, \ # QA Xbox 360 Testkit 210
	00:22:48:24:d0:92, \ # QA Xbox 360 Testkit 194
	00:19:C5:44:5C:DE, \ # PS3TESTKIT-125
	00:19:C5:44:5D:04, \ # PS3TESTKIT-161
	00:19:C5:44:A5:AE, \
	00:1D:0D:E9:79:2B, \ # PS3TESTKIT-121
	00:1D:0D:E9:79:2C, \ # PS3TESTKIT-119
	00:1D:0D:E9:B3:F9, \
	00:1D:0D:E9:DB:1D, \ # PS3TESTKIT-115
	00:1F:A7:13:ED:70, \
	00:1F:A7:C7:DF:22, \ # PS3TESTKIT-161
	00:1D:0D:E9:B3:FB, \ # PS3TESTKIT-xxx, requested by markpa
	00:12:5a:80:5c:ca, \ # Nis' Xbox 360 MAC address
	00:19:c5:60:36:c0, \ # James Lee's PS3 MAC address
	00:13:10:3A:C6:4F, \ # JonasC router
\ # Old Routers
\ #	00:17:9a:4f:c9:28, \ # D-Link router
\ #	00:1a:70:f3:a2:2e, \ # Linksys router
\ #	00:1a:70:f3:a2:2f, \ # same Linksys router
\ #	00:1b:2f:08:7d:8a, \ # Netgear router, internal mac
\ #	00:1b:2f:08:7d:8b, \ # same Netgear router external (uplink) mac
\ # XLSP
\ #	00:50:56:B8:6D:D0, \ # XLSP SecureGateway (MAC not good enough since XLSP changes this)
\ #	00:50:56:B8:56:68    # XLSP WebProxy
	00:1c:c4:7d:51:2e, \ # New Physical WP
	00:1c:c4:7d:51:26, \ # New Physical SG
\ # Video Conf
	00:e0:db:04:7f:75    # Polycom on special ports (Room403 - 5.1-547B - cph-d04-ds01:e2/23)


  AXLSPSG = 88.151.47.157
  AXLSPWP = 88.151.47.158
  AXLSP = 88.151.47.157,88.151.47.158


[IENWT85]
  # Allow Remote Desktop to XLSP from internal:
  ACCEPT = IINTs	; ALL			; AXLSP			; p_rdp                 # rdp from int
  ACCEPT = IINTs,IBT	; ALL			; AXLSP			; tcp		; 8000  # title -> wp

  # Allow all games to connect to SG on UDP:
  ACCEPT = ALL		; ALL			; AXLSPSG		; udp		; ALL
# ACCEPT = ALL		; ALL			; AXLSP			; ALL		; ALL # just testing remove this when done
  REJECT = IEXT		; ALL			; AXLSP			; ALL		; ALL
  ACCEPT = IEXT		; ALL			; NENWT85		; ALL		; ALL


[_FW_]
  ACCEPT = IENWT85	; MENWT85		; ALL			; tcp,udp	; bootps
  REJECT = IENWT85	; ALL			; ALL			; ALL		; ALL


[IEXT]
  ACCEPT = IENWT85	; NENWT85	; ALL			; ALL		; ALL

[IENWT85]
  ACCEPT = IENWT85	; NENWT85	; NENWT85		; ALL		; ALL

# BSP Title
[IBT]
  ACCEPT = IINTs	; ALL		; ALL		; ALL		; ALL   # full access from internal
  ACCEPT = IENWT85	; AXLSP		; ALL		; tcp		; 1000  # allow xlsp -> title

[IEXT]
  NAT = 88.151.47.91 	; NBT		; ALL 		; ALL 		; ALL
