#$Id: int2ext-nonwork.rules,v 1.9 2008/05/13 09:38:44 root Exp $
include = /etc/fraxwall/rules-ns88/int2ext-nonwork.defines

[IEXT]

  # Steam (HL2, CS)
  ACCEPT = IINTs	; ALL	; ASTEAM	; steamudp	; append ; nonwork
  ACCEPT = IINTs	; ALL	; ASTEAM	; steamtcp	; append ; nonwork

  # Requested by tobiasb - Guild Wars
  ACCEPT = IINTs	; ALL	; AGUILDWARS	; guildwars	; append ; nonwork

  # Requested by rasmush - everquest 2 online
  ACCEPT = IINTs	; ALL	; AEVERQUEST2	; everquest2	; append ; nonwork

  # Requsted by micky & ulfj - WarCraft
  ACCEPT = IINTs	; ALL	; AWARCRAFT	; warcraft	; append ; nonwork

  # Requested by tobiasb - EVE Online 
  ACCEPT = IINTs	; ALL   ; AEVEONLINE	; eveonline	; append ; nonwork

  # Requested by Rasmus Poulsen - live4speed
  ACCEPT = IINTs	; ALL	; ALIVE4SPEED	; live4speed	; append ; nonwork

  # Requsted by micklosb World Of WarCraft
  ACCEPT = IINTs	; ALL	; AWOW		; wow		; append ; nonwork

# Per default, immediately return from the nonwork chain (changed by cronjob)
# ... always allow instead /frax
#iptables = --table filter --insert nonwork --jump RETURN
