# $Id: san-dialhome.rules,v 1.14 2009-10-08 13:21:08 root Exp $

# ACCEPT = \
#       <in-interface>  ; <source-addr> ; <dest-addr>           ; <protocol>    ; <dest-port>
[ISAN]
  # Enable next two lines to allow rdp on port 33389 to esrs for emc
  #ACCEPT = IEXT		; ALL		; ALL			; tcp		; rdp # external remote desktop
  #iptables = --table nat --insert PREROUTING --destination 88.151.47.93 --protocol tcp --destination-port 33389 --jump DNAT --to-destination 10.116.1.50:3389
  REJECT = IRESTRICT	; NRESTRICT	; ALL			; ALL		; ALL # reject vpn from externals
  ACCEPT = IINTs	; ALL		; ALL			; ALL		; ALL

[IINT]
  ACCEPT = ISAN		; NSAN		; hp_domain # DNS
  ACCEPT = ISAN		; NSAN		; hp_smtp   # SMTP
  ACCEPT = ISAN		; NSAN		; ALL			; tcp		; 6389 # navisphere agents

[IEXT]
  ACCEPT = ISAN		; NSAN		; ALL			; tcp		; http,https # ESRS uses tcp/80,443
  NAT =    88.151.47.93 ; NSAN		; ALL           	; tcp           ; http, https                                                                               
# Reject all other traffic from sandh
[ALL]
  REJECT = ISAN		; ALL		; ALL			; ALL		; ALL


[PROXY]
  DIRECT = ISAN		; NSAN		; ALL			; tcp		; http,https # ESRS uses tcp/80,443
