# $Id: xenta.rules,v 1.3 2008/08/26 07:03:30 root Exp $

# ACCEPT = \
#       <in-interface>  ; <source-addr> ; <dest-addr>   ; <protocol>    ; <dest-port>

[DEFINE]
  AXENTATAC = 	88.151.47.92, \
		192.165.248.226, \
		192.165.248.227, \
		192.165.248.230, \
		192.165.248.238

[IXENTA]
  # Enable next two lines to allow rdp to epos (for PBJ)
  ACCEPT = IEXT		; AXENTATAC	; ALL		; tcp		; 80,443,1066,1067,1068
  iptables = --table nat --insert PREROUTING --destination 88.151.47.93 --protocol tcp --destination-port 1066 \
								--jump DNAT --to-destination 10.116.253.2:1066
  iptables = --table nat --insert PREROUTING --destination 88.151.47.93 --protocol tcp --destination-port 1067 \
								--jump DNAT --to-destination 10.116.253.2:1067
  iptables = --table nat --insert PREROUTING --destination 88.151.47.93 --protocol tcp --destination-port 1068 \
								--jump DNAT --to-destination 10.116.253.2:1068
  iptables = --table nat --insert PREROUTING --destination 88.151.47.93 --protocol tcp --destination-port 1069 \
								--jump DNAT --to-destination 10.116.253.2:80
  iptables = --table nat --insert PREROUTING --destination 88.151.47.93 --protocol tcp --destination-port 1070 \
								--jump DNAT --to-destination 10.116.253.2:443
  ACCEPT = IINTs	; ALL		; ALL		; ALL		; ALL

[ALL]
  REJECT = IXENTA	; ALL		; ALL		; ALL		; ALL
