# $Id: firewall.rules,v 1.2 2009-06-11 10:13:09 root Exp $
# 
# [<out-interface>]
#   NAME = <string>
#
#   ACCEPT =	<in-interface> ; <source-addr> ; <dest-addr> ; <protocol> ; <dest-port> [ ; insert ]
#   [N]REJECT =	<in-interface> ; <source-addr> ; <dest-addr> ; <protocol> ; <dest-port> [ ; insert ]
#   [N]DROP =	<in-interface> ; <source-addr> ; <dest-addr> ; <protocol> ; <dest-port> [ ; insert ]
#
#   NAT =	<snat-addr>    ; <source-addr> ; <dest-addr> ; <protocol> ; <dest-port> [ ; insert ]
#
#   IPTABLES = specify a custom iptables command, everything after '=' is passed as arguments to iptables
# 
# [PROXY]
#   PROXY =	<in-interface> ; <source-addr> ; <dest-addr> ; <protocol> ; <dest-port> ; \
#		<proxy-addr> ; <proxy-port> [ ; insert ]
#   DIRECT =	<in-interface> ; <source-addr> ; <dest-addr> ; <protocol> ; <dest-port> [ ; append ]

### Configure access from/to the firewall

# Explicitly allow all output traffic to loopback
[lo]
  ACCEPT = _FW_		; NLOCAL	; ALL		; ALL		; ALL


# Outgoing 
[ALL] 
  ACCEPT = _FW_		; ALL		; ALL		; ALL		; ALL

# Incomming
[_FW_]
  # lo
  ACCEPT = lo		; NLOCAL	; ALL		; ALL		; ALL # Allow loopback traffic

  # ALL interfaces
  ACCEPT = ALL		; ALL		; ALL		; icmp		; icmp_allow
  ACCEPT = ALL		; ALL		; ALL		; tcp		; ssh
  ACCEPT = ALL		; ALL		; ALL		; udp		; ntp
  REJECT = ALL		; ALL		; ALL		; tcp		; ident

  # external
  ACCEPT = IEXT		; ALL		; ALL		; udp		; bootpc

  # internal
  ACCEPT = IINTs	; ALL		; ALL		; tcp,udp	; domain
  ACCEPT = IINT		; ALL		; ALL		; udp		; bootps
 NREJECT = IINTs	; ALL		; ALL		; ALL		; ALL
