# $Id: batchflow.rules,v 1.11 2007/05/31 10:35:03 root Exp $

# ACCEPT = \
#       <in-interface>  ; <source-addr> ; <dest-addr>   ; <protocol>    ; <dest-port>
[IBF]
  ACCEPT = IPPTP	; NFLINK	; ALL		; ALL		; ALL  # allow future link vpn
  REJECT = IRESTRICT	; NRESTRICT	; ALL		; ALL		; ALL  # reject vpn from externals
  ACCEPT = IINTs,IMAC,IEPOS \
			; ALL		; ALL		; ALL		; ALL  # full access from int
  ACCEPT = IEPROXY	; ALL		; ALL		; tcp		; http # web access from extraweb

[IINT]
  ACCEPT = IBF		; ALL		; hp_domain
  ACCEPT = IBF		; ALL		; hp_smtp
  ACCEPT = IBF		; ALL		; 172.21.4.140	; ALL		; ALL  # full access to scanner

# Reject all other traffic from batchflow
[ALL]
  REJECT = IBF		; ALL		; ALL		; ALL		; ALL
