# $Id: epos.rules,v 1.6 2007/09/20 11:22:19 root Exp $

# ACCEPT = \
#       <in-interface>  ; <source-addr> ; <dest-addr>   ; <protocol>    ; <dest-port>
[IEPOS]
  # Enable next to lines to allow rdp to epos (for PBJ)
  ACCEPT = IEXT		; ALL		; ALL		; tcp		; rdp # external remote desktop
  iptables = --table nat --insert PREROUTING --destination 88.151.47.93 --protocol tcp --destination-port 3389 --jump DNAT --to-destination 217.10.24.98:3389

  ACCEPT = IINTs,IMAC,IBF \
			; ALL		; ALL		; ALL		; ALL

[IINT]
  ACCEPT = IEPOS	; ALL		; 172.21.1.14	; tcp		; 9100

[ISMTP]
  ACCEPT = IEPOS	; ALL		; ALL		; tcp		; smtp # send mails via smtp.ioi.dk

[IEXT]
  ACCEPT = IEPOS	; ALL		; ALL		; tcp		; http

[PROXY]
  PROXY	 = IEPOS	; ALL		; ALL		; tcp		; http		; localhost	; squid

# Reject all other traffic from epos
[ALL]
  REJECT = IEPOS	; ALL		; ALL		; ALL		; ALL


